./python_arquivo/modulo_9/node_modules*

./aula_19/node_modules/**

./aula_21 - parte I/node-modules/**
aula_22/node_modules*
aula_23/node_modules*
aula_24/node_modules*
aula_25/node_modules*
aula_26/node_modules*
aula_32/node_modules*

aula_33/node_modules*




aula_21 - parte II/node_modules*
