@font-face {
    font-family: 'toys_toss';
    src: url('./../font/toys-toss-webfont.woff2') format('woff2'),
         url('./../font/toys-toss-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}